amqp==5.3.1
annotated-types==0.7.0
anyio==4.14.2
asgiref==3.8.1
billiard==4.2.4
cbor2==6.1.3
celery==5.6.3
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
dj-database-url==3.1.2
Django==5.1.4
django-celery-beat==2.9.0
django-cors-headers==4.6.0
django-filter==25.2
django-timezone-field==7.2.1
django_celery_results==2.6.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
kombu==5.6.2
packaging==26.2
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg==3.3.4
psycopg-binary==3.3.4
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.10.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
redis==8.0.0
requests==2.34.2
six==1.17.0
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
uv==0.11.16
vercel==0.7.0
vercel-cache==0.7.0
vercel-headers==0.7.0
vercel-internal-telemetry==0.7.0
vercel-oidc==0.7.0
vercel-workers==0.0.25
vine==5.1.0
wcwidth==0.7.0
websockets==16.1
whitenoise==6.8.2